/*
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body { 
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
.hero-section {
    background-color: #473C38;
    width: 100%;
    height: auto;
    padding: 30px 0;
}
.container {
    height: auto;
    width: 1120px;
    margin: 0 auto;
}

.header {
 height: 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;

 
}

.logo {
    width: 162.34px;
    height: 100px;

}

.menu {
   width: auto;
   height: 21px;
 
}

.menu a {
    margin-left: 70px;
    font-family: 'Playfair Display', serif;
    color: white;


}

.menu a:hover {
    color: #FFE5B6;
    text-decoration: underline;

}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hero-content {
    width: 643px;
    padding: 112px 0;
}


.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 400;
    color: white;
    line-height: 100%;
}

.hero-content p {
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 450px;
    line-height: 130%;
}

.highlighted-content {
    padding:100px;
}
.highlighted-content .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.highlighted-content-text {
    width: 643px;
}

.highlighted-content-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 400;
    color: #473C38;
}

.highlighted-content-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #666666;
}

.hero-img, .highlighted-content-image {
    filter: drop-shadow(20px 20px 50px rgba(0, 0, 0, 0.25)); /* check on inspect (figma)*/
}

.post-section {
    background-color: #F0F1F0;
    height: auto;
    padding: 50px 0;
}

.post-section > .container > h2 {
    text-align: center;
}

.post-card-flex{
    display: flex;
    justify-content: space-between;
}

.post-card {
    width: 356px;
    height: 442px;
    background-color: blue;
}